.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap; /* Giúp form tự xuống dòng nếu màn hình nhỏ */
}

.form_container {
  flex: 1;
  min-width: 350px; /* Giới hạn kích thước nhỏ nhất */
  max-width: 500px; /* Giới hạn kích thước tối đa */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  max-height: 500px; /* Giới hạn chiều cao */
  overflow: auto; /* Hiển thị thanh cuộn khi cần */
  margin-left: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form_group {
  display: grid;
  grid-template-columns: 120px 1fr;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}
.form_register{
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.form_{
  display: flex;
  justify-Content: center;
  height: auto;
}

.form_group label {
  font-weight: bold;
}

.form_group input,
.form_group select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  background-color: #f39c12;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.button:hover {
  background-color: #f39d129e;
}
.switch_button{
  background-color: white;
  margin: 2px;
  border: 2px solid black;
  padding: 5px;
  text-align: center;
  border-radius: 4px;
}
.active {
  background-color: rgb(99, 248, 108); /* Màu khi được click */
  color: black; /* Màu chữ */
}
.input {
  border: 1px solid #000; /* Đảm bảo có viền */
  background: white; /* Đảm bảo input có nền */
  min-width: 200px; /* Đặt kích thước tối thiểu */
  padding: 5px;
}
.selectBox{
  padding: 5px;
    font-size: 16px;
    min-width: 150px; 
    background-color: white;
    border: 2 solid black;
}